body {
    margin: 0;
    display: flex;
    background: #0d0f1a;
    color: white;
    font-family: Arial, sans-serif;
}

#sidebar {
    width: 250px;
    background: #111425;
    min-height: 100vh;
    padding: 20px;
    color: #cfd3ff;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.4);
}

.admin-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.admin-head {
    text-align: center;
}

.nav-section { 
    margin-top: 18px;
    font-size: 12px;
    color: #787e9d;
    font-weight: bold;
}

.nav-item {
    background: #1b1f35;
    margin-top: 6px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.nav-item:hover {
    background: #2e3560;
}

#content {
    flex: 1;
    padding: 30px;
}

.page { display: none; }
.page.active { display: block; }

.cards {
    display: flex;
    gap: 15px;
}
.card {
    padding: 20px;
    background: #1b1f35;
    border-radius: 12px;
    width: 200px;
    text-align: center;
}
